<nav>
  <div class="site-title">
    <a href="/"><h1>SW Blog</h1></a>
    <p>A Star Wars Blog</p>
  </div>
  <ul>
    <li
      <% if (pageTitle === 'All Blogs') { %>
        id='active_blog'
        <% }else{ %> 
          id='blog'
          <% } %>> 
      <a href="/">Blogs</a>
    </li>
    <li
      <% if (pageTitle === 'About') { %>
        id='active_about'
        <% }else{ %> 
          id='about'
          <% } %>> 
      <a href="/about">About</a>
    </li>
    <li
      <% if (pageTitle === 'Create') { %>
        id='active_create'
        <% }else{ %> 
          id='create'
          <% } %>> 
      <a href="/blogs/create">New Blog</a>
    </li>
  </ul>
</nav>
